@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Space Grotesk", sans-serif,
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  font-size: 69px;
}

.about {
  max-width: 600px;
  font-size: 18px;
  margin: 0 10px;
}
.skills {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 40px;
  }

  .skills {
    font-size: 14px;
  }
  .about {
    font-size: 16px;
  }

  .divider {
    margin: 20%;
  }
}

.more-button {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #00bcd4;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
