@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Space Grotesk", sans-serif,
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2b282c;
  color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

.title {
  font-size: 60px;
  color: whitesmoke;
  max-width: 1000px;
  padding: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.author {
  font-size: 20px;
  color: grey;
}

.about {
  max-width: 600px;
  font-size: 18px;
  margin: 0 10px;
}
.skills {
  font-size: 20px;
}

.more-button {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #00bcd4;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .title {
    font-size: 36px;
  }

  .author {
    font-size: 10px;
  }
}

@media only screen and (max-width: 600px) {
  hr {
    display: none;
  }

  .title {
    font-size: 24px;
  }

  .skills {
    font-size: 14px;
  }
  .about {
    font-size: 16px;
  }

  .divider {
    margin: 20%;
  }
}

/* Common styles */

.pointer {
  cursor: pointer;
}

/* MISC */

.inprogress {
  color: gray;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 16px;
  max-width: 300px;
  text-align: start;
}

.inprogress > a {
  color: grey;
}

.projects-btn {
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
